.switcher {
	border: 0;
	background: none;
	padding: 5px 0;
	color: var(--fg-color);

	svg {
		animation: swing 0.8s both;
	}
}

@keyframes swing {
	15% {
		transform: translateX(5px);
	}
	30% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(3px);
	}
	65% {
		transform: translateX(-3px);
	}
	80% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}
